.dealtime_countdown label {
	width: 100%;
	float: left
}

.dealtime_countdown .dealtime_countdown_item {
	float: left
}

@-webkit-keyframes "countDown_flip_1" {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 1
	}
	100% {
		-webkit-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
		z-index: 0
	}
}

@keyframes "countDown_flip_1" {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 1
	}
	100% {
		-webkit-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
		z-index: 0
	}
}

@-webkit-keyframes "countDown_flip_2" {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 0
	}
	100% {
		-webkit-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
		z-index: 1
	}
}

@keyframes "countDown_flip_2" {
	0% {
		-webkit-transform: rotateX(0deg);
		transform: rotateX(0deg);
		z-index: 0
	}
	100% {
		-webkit-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
		z-index: 1
	}
}

.dealtime_countdown .countDown_cont {
	font-family: Lato, Arial, Gadget, sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #494949
}

.dealtime_countdown .countDown__interval_basic_cont {
	float: left
}

.dealtime_countdown .countDown__interval_basic_cont:not(:last-child) {
	margin-right: 10px
}

.dealtime_countdown .countDown__interval_basic_cont>div {
	float: left
}

@media (max-width: 542px) {
	.dealtime_countdown .countDown__interval_basic_cont>div {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center
	}
}

.dealtime_countdown .countDown_interval_cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: auto
}

.dealtime_countdown .countDown_interval_cont:nth-child(n+1):not(:last-child) {
	margin-right: 0.5em
}

.dealtime_countdown .countDown_interval_basic_cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.dealtime_countdown .countDown_interval_basic_cont_description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
	color: #494949;
	font-size: 1em
}

@media (min-width: 1600px) {
	.dealtime_countdown .countDown_interval_basic_cont_description {
		margin-top: 10px;
		font-size: 1em
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.dealtime_countdown .countDown_interval_basic_cont_description {
		margin-top: 9px;
		font-size: .92857em
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.dealtime_countdown .countDown_interval_basic_cont_description {
		margin-top: 6px;
		font-size: .85714em
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.dealtime_countdown .countDown_interval_basic_cont_description {
		margin-top: 12px;
		font-size: 1em
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.dealtime_countdown .countDown_interval_basic_cont_description {
		margin-top: 13px;
		font-size: 1em
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.dealtime_countdown .countDown_interval_basic_cont_description {
		margin-top: 5px;
		font-size: .85714em
	}
}

.dealtime_countdown .countDown_digit_cont {
	-webkit-perspective: 3.2em;
	perspective: 3.2em;
	box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
	position: relative;
	font-weight: bold;
	border-radius: 0.08em
}

@media (min-width: 1600px) {
	.dealtime_countdown .countDown_digit_cont {
		width: 28px;
		height: 46px;
		font-size: 2em
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.dealtime_countdown .countDown_digit_cont {
		width: 22px;
		height: 38px;
		font-size: 1.71429em
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.dealtime_countdown .countDown_digit_cont {
		width: 20px;
		height: 32px;
		font-size: 1.42857em
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.dealtime_countdown .countDown_digit_cont {
		width: 30px;
		height: 48px;
		font-size: 2.14286em
	}
}

@media (min-width: 543px) and (max-width: 767px) {
	.dealtime_countdown .countDown_digit_cont {
		width: 30px;
		height: 48px;
		font-size: 2.14286em
	}
}

@media (min-width: 320px) and (max-width: 542px) {
	.dealtime_countdown .countDown_digit_cont {
		width: 20px;
		height: 33px;
		font-size: 1.42857em
	}
}

.dealtime_countdown .countDown_digit_cont:nth-child(n+1):not(:last-child) {
	margin-right: 0.05em
}

.dealtime_countdown .countDown_digit_last_placeholder {
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
	text-align: center;
	overflow: hidden;
	bottom: 0;
	background: white;
	border-radius: 0 0 0.08em 0.08em
}

.dealtime_countdown .countDown_digit_new_placeholder {
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
	text-align: center;
	overflow: hidden;
	top: 0;
	background: #f7f7f7;
	border-radius: 0.08em 0.08em 0 0
}

.dealtime_countdown .countDown_digit_last_placeholder_inner {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	bottom: 50%;
	position: absolute
}

.dealtime_countdown .countDown_digit_last_rotate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	font-weight: bold;
	position: absolute;
	top: 0;
	overflow: hidden;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	border-radius: 0.08em 0.08em 0 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation-name: countDown_flip_1;
	animation-name: countDown_flip_1;
	background: #f7f7f7
}

.dealtime_countdown .countDown_digit_last_rotate:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-bottom: 0.01em solid rgba(0, 0, 0, 0.1)
}

.dealtime_countdown .countDown_digit_new_rotate {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 50%;
	font-weight: bold;
	position: absolute;
	top: 0;
	overflow: hidden;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	border-radius: 0.08em 0.08em 0 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation-name: countDown_flip_2;
	animation-name: countDown_flip_2;
	background: white
}

.dealtime_countdown .countDown_digit_new_rotate:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-bottom: 0.01em solid rgba(0, 0, 0, 0.1)
}

.dealtime_countdown .countDown_digit_new_rotated {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
	width: 100%;
	height: 100%
}

.dealtime_countdown .countDown_digit_new_rotated_inner {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	bottom: 50%;
	position: absolute
}